body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #e53935;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
}
